<div ng-controller="formCtrl" layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-padding>

    <div>
		<md-input-container class="md-block" flex-gt-sm>
	        <label>Team</label>
	        <md-select ng-model="issue.issue_team_id">
	          <md-option ng-repeat="team in teams" value="{{team.id}}">
	            {{team.name}}
	          </md-option>
	        </md-select>
	    </md-input-container>
	</div>

     <div>
       <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="issue.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
       </md-input-container>
    </div>

    <div>
  		<md-button ng-click="submit()" class="md-raised md-primary"> Submit </md-button>
  	</div>
  </md-content>

</div>
